<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ESPEJOS DEL ALMA </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Banner Superior agrega las imagenes  -->
    <img src="{{ url_for('static', filename='images/logonopng.png') }}" alt="Banner principal" class="banner">

    <h1>Espejos del Alma</h1>
    <div><label>Buscar por nombre:</label>
    <input type="text" id="busqueda" oninput="filtrarProductos()" placeholder="Ej: espejo redondo...">
    </div>
    
    <!-- Formulario para crear/editar -->
    <div id="form-container">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="nombre">
        </div>
        <div class="form-group">
            <label>Precio</label>
            <input type="number" id="precio">
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <textarea id="descripcion"></textarea>
        </div>
        <button onclick="guardarProducto()">Guardar</button>
        <div id="message"></div>
    </div>

    <div class="form-group">
    <label>Ordenar por:</label>
    <select id="orden" onchange="ordenarProductos()">
        <option value="none">-- Seleccionar --</option>
        <option value="nombre">Nombre A-Z</option>
        <option value="precio-asc">Precio menor a mayor</option>
        <option value="precio-desc">Precio mayor a menor</option>
    </select>
    </div>

    <button onclick="eliminarTodos()">🗑️ Eliminar todos los productos</button>

    <!-- Tabla de datos -->
    <h2>Listado de Productos</h2>
    <table id="tabla-productos">
        <thead>
            <tr>
                <th>ID</th><th>Nombre</th><th>Precio</th><th>Descripción</th><th>Acciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Imagen Inferior agrega las imagenes -->
    <img src="{{ url_for('static', filename='images/logonopng.png') }}" alt="Imagen inferior" class="footer">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
